@keyframes explode {
  0% {
    transform: scale(0.2) translateY(0);
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: scale(1) translateY(-120px);

    opacity: 0;
  }
}

.firework-particle {
  position: absolute;
  font-size: 22px;
  animation: explode 1.2s ease-out forwards;
}
